body {
  background: #2e2c37;
  background-attachment: fixed;
  color: #edab88;
}
a {
  color: #ff8600;
}
a.link:hover {
  color: #ff9600;
  text-decoration: none;
  border-bottom: #ff8600;
}
header {
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.03);
          box-shadow: 0 0 40px rgba(0,0,0,0.03);
  background: rgba(28,26,33,0.29);
}
header.full {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
header.full:hover {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
header.fixed {
  background: rgba(28,26,33,0.89);
  -webkit-box-shadow: 0 0 60px rgba(0,0,0,0.12);
          box-shadow: 0 0 60px rgba(0,0,0,0.12);
}
header.fixed:hover {
  background: rgba(28,26,33,0.95);
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.08);
          box-shadow: 0 0 40px rgba(0,0,0,0.08);
}
header:hover {
  background: rgba(28,26,33,0.39);
  -webkit-box-shadow: 0 0 60px rgba(0,0,0,0.07);
          box-shadow: 0 0 60px rgba(0,0,0,0.07);
}
header nav ul li a {
  color: #edab88;
}
header nav ul li a:hover {
  color: #dc895b;
}
header nav ul li a:focus {
  color: #dc895b;
}
header nav ul li a:after {
  background: #f5ddd0;
}
header nav ul li.active a {
  color: #f5ddd0 !important;
}
header .nav_b .nav_b_line {
  background: #edab88;
}
.main:nth-child(2n) {
  background: #2b2933;
  border-top: 1px solid #34313e;
  border-bottom: 1px solid #34313e;
}
.portfolio .thumbnail {
  background: #2e2c37;
  border: #292832;
}
.portfolio .thumbnail:hover {
  background: #fff;
}
.portfolio .thumbnail .active-arrow {
  border-color: transparent transparent #2e2c36 transparent;
}
.portfolio .thumbnail .description {
  background: rgba(46,44,55,0.6);
}
.portfolio .thumbnail .title {
  color: #ffe5ae;
}
.portfolio .og-expanded .thumbnail {
  border-bottom-color: #2e2c36;
}
.portfolio .og-expander .og-close::before,
.portfolio .og-expander .og-close::after {
  background: #edab88;
}
.portfolio .og-expander .og-close:hover::before,
.portfolio .og-expander .og-close:hover::after {
  background: #c2571d;
}
.portfolio_2 .grid-item .bg {
  background: rgba(38,37,42,0.6);
}
.portfolio_2 .grid-item .cont .title {
  color: #fff;
}
.portfolio_2 .grid-item .cont .icons .icn {
  color: #fff;
}
.portfolio_2 .grid-item .cont .icons .icn:hover {
  background: rgba(255,255,255,0.08);
}
.portfolio_3 .sy-pager li a {
  color: #ccc;
  background: #25232c;
}
.portfolio_3 .sy-pager li.sy-active a {
  color: #edab88;
  background: #201f27;
}
.portfolio_3 .slide_nav .s_next,
.portfolio_3 .slide_nav .s_prev {
  background: #25232c;
}
.portfolio_3 .slide_nav .s_next:hover,
.portfolio_3 .slide_nav .s_prev:hover {
  background: #232129;
}
.portfolio_3 ul.slider li .slide .slide_right .title_area .title {
  background: #2e2c37;
  color: #ff8600;
}
.portfolio_3 ul.slider li .slide .slide_right .desc {
  color: #fff;
}
.portfolio_4 .f_nav .f_next,
.portfolio_4 .f_nav .f_prev {
  background: #25232c;
}
.portfolio_4 .f_nav .f_next:hover,
.portfolio_4 .f_nav .f_prev:hover {
  background: #232129;
}
.popup {
  background: #fff;
}
.popup .popup_content {
  color: #2e2c37;
}
.popup .popup_content .title_area .title {
  background: #fff;
}
.h_title h2.main_h {
  color: #edab88;
}
.h_title h2.main_h:before {
  background: #edab88;
}
.h_title .sub_h {
  color: rgba(237,171,136,0.06);
}
.h_title .sub_h:before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(46,44,55,0.8)), to(rgba(46,44,55,0)));
  background: -webkit-linear-gradient(bottom, rgba(46,44,55,0.8) 0%, rgba(46,44,55,0) 100%);
  background: linear-gradient(to top, rgba(46,44,55,0.8) 0%, rgba(46,44,55,0) 100%);
}
.blog_area .blog_item:hover {
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
          box-shadow: 0 0 30px rgba(0,0,0,0.1);
}
.blog_area .blog_item .bg {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255,255,255,0.3)));
  background: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0.3) 100%);
  background: linear-gradient(to top, #fff 0%, rgba(255,255,255,0.3) 100%);
}
.blog_area .blog_item .title {
  color: #ff8600;
  background: #413e4e;
}
.blog_area_2 .blog_item {
  border-bottom: 1px solid #413e4e;
}
.blog_area_2 .blog_item.right .img:after {
  border-color: transparent transparent transparent #2e2c36;
}
.blog_area_2 .blog_item .img:after {
  border-color: transparent #2e2c36 transparent transparent;
}
.blog_area_2 .blog_item .txt .desc {
  color: #fff;
}
.blog_area_2 .blog_item .txt .title {
  color: #ff8600;
}
.blog_area_3 .blog_item .desc {
  color: #fff;
}
.blog_area_3 .blog_item .title {
  color: #ff8600;
}
.loader_area {
  background: #2e2c37;
}
.loader_area .loader {
  border-top: 1px solid #df956c;
  border-left: 1px solid #df956c;
}
.services_area .service_item {
  background: #413e4e;
}
.services_area .service_item:hover {
  background: #454252;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.05);
          box-shadow: 0 0 40px rgba(0,0,0,0.05);
}
.services_area .service_item .icon {
  background: #eec6b0;
  color: #2e2c37;
}
.services_area .service_item .desc {
  color: #fff;
}
.services_area .service_item .title {
  color: #ff8600;
}
.slidee li {
  background: #ccc;
}
.slidee li .img {
  border: 1px solid #fff;
}
.slidee li .port_desc {
  background: #413e4e;
}
.slidee li .port_desc .desc {
  color: #fff;
}
.f_scroll {
  background: #413e4e;
}
.f_scroll .handle {
  background: #edab88;
}
.team_area .team_item .img .bg {
  background: rgba(46,44,55,0.7);
}
.team_area .team_item .img .social .fa {
  color: #fff;
  border: 1px solid #fff;
}
.team_area .team_item .img .name {
  color: #fff;
}
.team_area_2 .team_item {
  background: #2a2832;
}
.team_area_2 .team_item .name {
  color: #edab88;
}
.team_area_2 .team_item .img {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
          box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.testimonials_area .testimonials_item:hover {
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
          box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.testimonials_area .testimonials_item .txt {
  background: #413e4e;
  color: #fff;
}
.testimonials_area .testimonials_item .txt .name {
  color: #ff8600;
}
.testimonials_area_2 ul.sl .s_next,
.testimonials_area_2 .slide_nav .s_next,
.testimonials_area_2 ul.sl .s_prev,
.testimonials_area_2 .slide_nav .s_prev {
  background: #25232c;
}
.testimonials_area_2 ul.sl .s_next:hover,
.testimonials_area_2 .slide_nav .s_next:hover,
.testimonials_area_2 ul.sl .s_prev:hover,
.testimonials_area_2 .slide_nav .s_prev:hover {
  background: #232129;
}
.testimonials_area_2 .test_item .txt {
  background: #413e4e;
  color: #fff;
}
.testimonials_area_2 .test_item .name {
  color: #ff8600;
}
p {
  color: #fff;
}
.about_area section.ex {
  border-left: 1px solid #eec6b0;
}
.about_area section.ex .desc {
  background: #413e4e;
}
.about_area section.ex .desc:before {
  border-color: transparent #413e4e transparent transparent;
}
.about_area section.ex .desc span.pr {
  color: #ff8600;
}
.about_area section.ex .desc {
  color: #fff;
}
.about_area section.ex h5 {
  color: #fff;
}
.about_area section.ex h5 span {
  background: #edc4ad;
  color: #2e2c37;
}
.about_area section.ex h5 span:last-child {
  background: #e7ad8e;
}
.about_area section.ex h5:before {
  background: #2e2c36;
  border: 2px solid #edab88;
}
.about_area section.skills .skill_item .title {
  color: #fff;
}
.about_area section.skills .skill_item .skill {
  background: #2b2933;
  border: 1px solid rgba(237,171,136,0.1);
}
.about_area section.skills .skill_item .skill .skill_in {
  background: #edc4ad;
}
.darken .about_area section.ex h5:before {
  -webkit-box-shadow: 0 0 0px 10px #2c2a34;
          box-shadow: 0 0 0px 10px #2c2a34;
  box-shadow: 0 0 0px 10px #2c2a34;
}
.mfp-bg {
  background: #2e2c37;
  opacity: 0.9;
}
.mfp-figure:after {
  -webkit-box-shadow: 0 0 100px #2e2c37;
          box-shadow: 0 0 100px #2e2c37;
}
button.mfp-close::before,
button.mfp-close::after {
  background: #edab88;
}
button.mfp-close:hover::before,
button.mfp-close:hover::after {
  background: #f1bca0;
}
.popup button.mfp-close::before,
.popup button.mfp-close::after {
  background: #2e2c37;
}
.popup button.mfp-close:hover::before,
.popup button.mfp-close:hover::after {
  background: #545165;
}
.contact_area .contact_input_item:after {
  border-bottom: 1px solid #f2c4ac;
}
.contact_area .contact_input_item:before {
  border-bottom: 2px solid #edac89;
}
.contact_area .contact_input_item.focus .placeholder {
  font-size: 18px;
}
.contact_area .contact_input_item .placeholder {
  opacity: 0.35;
}
.contact_area .contact_input_item .in {
  background: transparent;
  color: #fff;
}
.btn_c {
  background: #eec6b0;
  color: #292832;
}
.btn_c:hover {
  background: #d87c4a;
  color: #292832;
}
.btn_c .bg {
  background: #d87c4a;
}
.btn_c:focus,
.btn_c:active {
  color: #fff;
}
.me_block .me_bg {
  background: #2e2c37;
}
.me_block .txt .name {
  background: rgba(46,44,55,0.3);
}
.me_block .txt .desc {
  background: rgba(46,44,55,0.2);
}
.me_block:hover .txt .name {
  background: rgba(46,44,55,0.89) !important;
}
.back-to-top {
  background: #25232c;
  color: #edc4ad;
  border: 1px solid rgba(237,171,136,0.2);
}
.back-to-top:hover {
  background: #232129;
}
.about_area_2 section.ex h5 span:after {
  color: #edab88;
}
.about_area_2 section.ex .desc {
  background: #413e4e;
  color: #fff;
}
.about_area_2 section.ex .desc:before {
  border-color: transparent #413e4e transparent transparent;
}
.about_area_2 section.skills .skill_item .skill {
  border: 1px solid rgba(238,198,176,0.3);
}
.demo_changer i {
  color: #eec6b0 !important;
}
.demo_changer .demo-icon {
  background: rgba(46,44,55,0.3) !important;
}
.demo_changer .form_holder {
  background: rgba(46,44,55,0.3) !important;
}
.demo_changer .form_holder p {
  color: #edab88 !important;
  border-top: 1px solid rgba(237,171,136,0.2) !important;
}
footer .social a {
  background: #eec6b0;
  color: #2e2c37;
  opacity: 1;
}
.portfolio li .thumbnail:before,
.portfolio_2 .grid-item:before,
.portfolio_3 ul.slider li .slide .slide_left:before,
.portfolio_4_1 .slidee li.active:before,
.blog_area .blog_item .blog_item_in:before,
.blog_area_2 .blog_item .img .img_in:before,
.blog_area_3 .blog_item .img:before,
.team_area .team_item:before,
.testimonials_area .testimonials_item .img:before,
.testimonials_area_2 .test_item .info .img:before {
  background: #2e2c37;
}
