@mixin transform($transform) {
  -webkit-transform:$transform ;
  -ms-transform:$transform ;
  -moz-transform:$transform ;
  -o-transform:$transform ;
  transform:$transform ;
}
@mixin transform-origin($transform) {
  -webkit-transform-origin:$transform ;
  -ms-transform-origin:$transform ;
  -moz-transform-origin:$transform ;
  -o-transform-origin:$transform ;
  transform-origin:$transform ;
}
@mixin translate($transform,$transform2) {
  -webkit-transform:translate($transform,$transform2) ;
  -ms-transform:translate($transform,$transform2) ;
  -moz-transform:translate($transform,$transform2) ;
  -o-transform:translate($transform,$transform2) ;
  transform:translate($transform,$transform2) ;
}
@mixin rotate($transform) {
  -webkit-transform:rotate($transform) ;
  -ms-transform:rotate($transform) ;
  -moz-transform:rotate($transform) ;
  -o-transform:rotate($transform) ;
  transform:rotate($transform) ;
}
